<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- نسخة تجريبية بالحد الأدنى: نزيل كل شيء ما عدا staticContent الأساسي -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
